.contactsPage{
	background-color: rgb(114, 207, 250);
}
.generalProjectsImages{
	height: 150px;
	width: 150px;
}
.featuredPage{
	background-color: rgb(35, 180, 120);
	height: 500px;
}
.image{
	
}
.navigationColumn{
	background-color: rgb(250, 225, 114);
	
}